.benefits {
   padding-top: 94px;
   padding-bottom: 94px;
 
   background-color: var(--additional-bg-cl);
 }

 .benefits__list {
  @extend %reset-list;
  
   display: flex;
   gap: 30px;
   justify-content: center;
   margin: 0;
 }
 
 .benefits__item {
   display: flex;
   padding: 25px 100px;
   background-color: var(--grey-bg-additional-cl);
   margin-bottom: 30px;
 }